html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: rgb(39, 39, 39);
}

body {
	color: #a7b2bb;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

h1 {
	font-size: 200%;
}

.center {
	text-align: center;
}

@media (max-width: 40.0rem) {
	.column-50 {
		flex: 0 0 100%;
		max-width: 100%;
	}
}